* {
    box-sizing: border-box;
}
.hidden {
    display: none;
}

.progress {
    margin-left: 10px;
    width: 200px;
    height: 12px;
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
}

.progress b {
    display: block;
    height: 100%;
    background-color: red;
}

mark {
    background-color: darkseagreen;
}